[project]
	description = add 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/huazhihao (huazhihao)
[access "refs/for/refs/*"]
	read = group user/huazhihao (huazhihao)
	push = group user/huazhihao (huazhihao)
	label-Code-Review = -2..+2 group user/huazhihao (huazhihao)
	label-Verified = -1..+1 group user/huazhihao (huazhihao)
	rebase = group user/huazhihao (huazhihao)
	removeReviewer = group user/huazhihao (huazhihao)
	submit = group user/huazhihao (huazhihao)
[access "refs/heads/*"]
	read = group user/huazhihao (huazhihao)
	create = group user/huazhihao (huazhihao)
	push = +force group user/huazhihao (huazhihao)
	pushMerge = group user/huazhihao (huazhihao)
[access "refs/tags/*"]
	push = group user/huazhihao (huazhihao)
	push = +force group user/huazhihao (huazhihao)
